.posts {
	width: 100%;
	min-height: auto;
	padding: 10px 0 65px 0;
	color: #191b29;
	.post {margin-top: 55px}
	.post:nth-child(2),  .post:nth-child(3){
		max-width: 600px;
		height: 410px;
		border: 1px solid #dbdbdb;
	}
	.title {font: 700 30px $primary_font;}
	p {
		padding: 20px 0 25px 0;
		font: 300 16px/30px $secondary_font;
	}
}