$primary_font: "Roboto Slab", sans-serif;
$secondary_font: "Roboto", sans-serif;
$primary_font_color: #ffffff;
$primary_btn_color: #612316;
$secondary_btn_color: #4e5159;
$secondary_font_color: #31353e;
$accent_color: #dd4b2b;
$bg_color: #eceef1;



